<div class="footer">
  <div class="footerTop">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="footerTop__logo animate__animated animate__fadeInLeft wow" data-wow-delay="0.5s">
            <div class="footerTop__logo-image"><img src="/img/Logo-white.png" alt=""></div>
            <div class="footerTop__logo-text">It's never too early to start. Give us a shout to find out how we can
              deliver the most scrumptious picnic catering in town and help you throw an epic event from start to
              finish..</div>
            <ul class="footerTop__logo-contact">
              <li class="contact__item">
                <div class="contact__item-icon"><i class="far fa-map-marker-alt"></i></div><a class="contact__item-text"
                  href="#">Address: Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, HN</a>
              </li>
              <li class="contact__item">
                <div class="contact__item-icon"><i class="far fa-phone"></i></div><a class="contact__item-text"
                  href="#">Phone:<span> +84 932324808</span></a>
              </li>
              <li class="contact__item">
                <div class="contact__item-icon"><i class="far fa-envelope"></i></div><a class="contact__item-text"
                  href="#">Email: Picnicgames@gmail.com</a>
              </li>
            </ul>
            <div class="footerTop__logo-icon"><a class="icon__link" href="#"><i class="fab fa-instagram"></i></a><a
                class="icon__link" href="#"><i class="fab fa-twitter"></i></a><a class="icon__link" href="#"><i
                  class="fab fa-facebook-f"></i></a><a class="icon__link" href="#"><i class="fab fa-tumblr"></i></a><a
                class="icon__link" href="#"><i class="fab fa-vimeo-v"></i></a><a class="icon__link" href="#"><i
                  class="fab fa-linkedin-in"></i></a></div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="footerTop__quote animate__animated animate__fadeInRight wow" data-wow-delay="0.5s">
            <div class="footerTop__quote-title">Get A quote</div>
            <div class="footerTop__quote-text">If you got any question please do not hisitate to send us a message.
            </div>
            <form action="" class="form-group">
              <div class="footerTop__quote-form">
                <input class="form-control" id="name" type="text" placeholder="Your Name" required>
              </div>
              <div class="footerTop__quote-form">
                <input class="form-control" id="email" type="email" placeholder="Your Email" required>
              </div>
              <div class="footerTop__quote-form footerTop__quote-textarea">
                <textarea class="form-control" id="message" type="message" placeholder="Message..." required></textarea>
              </div>
            <button class="btn btn-transparent" href="#">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footerBottom">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto">
        <div class="footerBottom__content animate__animated animate__zoomIn wow" data-wow-delay="1s">Copyright 2021 @
          Picnic Games</div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Start Back-to-top-->
<div class="back-to-top" id="back-to-top"><a href="#"><i class="fal fa-arrow-up"></i></a></div>
<!-- End Back-to-top-->