<div class="banner animate__animated animate__fadeIn wow">
  <div class="container">
    <div class="banner__background"><img src="img/BannerHome-Page-two-grils-ryb.jpg"></div>
    <div class="banner__content text-center my-auto">
      <div class="banner__content-title">Contact</div>
      <div class="banner__content-subtitle">Home<i class="fal fa-angle-right"></i><span>Contact</span></div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="contact__info">
          <div class="contact__info-title animate__animated animate__fadeInLeft wow" data-wow-delay="1s">Contact
            Information</div>
          <div class="divider animate__animated animate__fadeInLeft wow" data-wow-delay="1s"></div>
          <div class="row animate__animated animate__fadeInLeft wow" data-wow-delay="2s">
            <div class="col-12 col-md-6 col-lg-12">
              <div class="contact__info-item">
                <div class="item__image"><i class="color-1 fas fa-map-marker-alt"></i><img src="img/circle-1.png"
                    alt=""></div>
                <div class="item__content">
                  <div class="item__content-title">Address</div>
                  <div class="item__content-subtitle">Số 8, Tôn Thất Thuyết, Mỹ Đình, Từ Liêm, HN </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12">
              <div class="contact__info-item">
                <div class="item__image"><i class="color-2 fas fa-phone-alt"></i><img src="img/circle-2.png" alt="">
                </div>
                <div class="item__content">
                  <div class="item__content-title">Phone</div>
                  <div class="item__content-subtitle">+84 932324808</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12">
              <div class="contact__info-item">
                <div class="item__image"><i class="color-3 fas fa-paper-plane"></i><img src="img/circle-3.png" alt="">
                </div>
                <div class="item__content">
                  <div class="item__content-title">Email</div>
                  <div class="item__content-subtitle">Picnicgames@gmail.com</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-12">
              <div class="contact__info-item">
                <div class="item__image"><i class="color-4 fas fa-share-alt"></i><img src="img/circle-4.png" alt="">
                </div>
                <div class="item__content">
                  <div class="item__content-title">Social Networks</div>
                  <div class="item__content-icon"><a class="icon__link" href="#"><i class="fab fa-instagram"></i></a><a
                      class="icon__link" href="#"><i class="fab fa-twitter"></i></a><a class="icon__link" href="#"><i
                        class="fab fa-facebook-f"></i></a><a class="icon__link" href="#"><i
                        class="fab fa-tumblr"></i></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="contact__form">
          <div class="contact__form-title animate__animated animate__fadeInRight wow" data-wow-delay="1s">Send Message
          </div>
          <div class="divider animate__animated animate__fadeInRight wow" data-wow-delay="1s"></div>
          <form action="">
            <div class="row animate__animated animate__fadeInRight wow" data-wow-delay="2s">
              <div class="col-md-12">
                <div class="contact__form-name">
                  <input class="form-control" type="text" name="name" placeholder="Your Name*" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contact__form-email">
                  <input class="form-control" type="email" name="email" placeholder="Your Email*" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contact__form-subject">
                  <input class="form-control" type="text" name="subject" placeholder="Subject*" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="contact__form-message">
                  <textarea class="form-control" type="text" name="message" placeholder="Write your message..."
                    required></textarea>
                </div>
              </div>
            </div>
            <div class="contact__form-submit btn btn-color">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Start Maps-->
<div class="maps animate__animated animate__fadeInUp wow" data-wow-delay="0.5s">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7448.182117152569!2d105.78351978110052!3d21.02904222142221!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313455f9bdf0e1c7%3A0x26caee8e7662dd9b!2zRlBUIEFwdGVjaCBIw6AgTuG7mWk!5e0!3m2!1sen!2s!4v1616856557155!5m2!1sen!2s"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- End Maps-->